.mastfoot {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 5px;
    text-align: right;
}
.container {
    max-width:800px;
    background-color:withe;
}
body {
    /*background-image: url("../../img/main_back1.jpg");
   background-position: center 10%;
   background-repeat: no-repeat;
   */
   /*font-family: 'Raleway', sans-serif;*/
}
.col-md-3, .col-md-8, .col-md-11{
    background: #eee;
    border: 1px solid #DDD;
    background: -moz-linear-gradient(top, #EEE, #FFF);
    background: -webkit-linear-gradient(top, #eee, #fff);
    background: -ms-linear-gradient(top, #eee, #fff);
    background: -o-linear-gradient(top, #eee, #fff);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
}
.col-md-3 {
    /*height: 300px;*/
}
.col-md-3 p {

}
.col-md-3 h3 {
    width: 100%;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
}
.col-md-3 img {
    padding: 0px;
}
.row {
    margin-left: 0px;
    margin-right: 5px;
}
@media (min-width: 600px) {
    .navbar {
        padding-top: 80px;
    }
}
.navbar-header img {
    padding-right: 20px;
    padding-bottom: 5px;
}
.btn {
    color: #FFFFFF;
    background-color: #AAD400;
    border-color: #949494;
}
.btn:hover {
    color: #FFFFFF;
    background-color: #667F00;
    border-color: #949494;
}
.btn-link {
    color: #AAD400;
    background:none!important;
    border:none;
    padding:0!important;
    text-decoration: none;
}
.btn-link:hover {
    color: #cccccc;
    text-decoration: none;
}
#map {
    height: 215px;
}
#map-big {
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table {
    width: 400px;
}
.error-inline {
    color: #B40404;
}
img {
    width: 100%;
    height: 80%;
    overflow: hidden;
    max-width: 100%;
}
.form-inline
{
   display: inline-block;
}