.container{
  max-width: 350px;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.6);
  height:100%;
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer .container
{
  margin-top: 0px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

h1,h2,h3
{
 font-family: 'Raleway', sans-serif;
    font-weight: 300;

}

body
{
    background-color: withe;
}

a{
    color:#98ba00;
    text-decoration: none;
}
a:hover{

    color:#98ba00;
    text-decoration: none;
}


.mastfoot {
    padding: 5px;
    text-align: center;
  }


@media (min-width: 600px) {
  body
  {
   background-image: url("../../img/login_back1.jpg");
   background-position: center 10%;
   background-repeat: no-repeat;
  }
}


.error{
  color: #B40404;
}

.form-control
{
  margin-top: 10px;
  margin-bottom: 10px;
}
#pwForm
{
  margin-top: 10px;
  margin-bottom: 0px;
}
img{

  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}


